* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #2c3e50;
  color: #ecf0f1;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}


#main-screen {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

#main-screen input {
  width: 100%;
  display: block;
  font-size: 48px;
  text-align: center;
}

#main-screen a {
  display: block;
  font-size: 24px;
  padding: 12px 6px;
  text-align: center;
  width: 100%;

  text-decoration: none;
  color: #ecf0f1;
}

#main-screen #join-game {
  background: #27ae60;
  margin-top: 12px;
}

#main-screen #new-game {
  background: #3498db;
  margin-top: 48px;
}

/* END of main-screen */

#view-selection-screen {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

#view-selection-screen a {
  display: inline-block;
  width: 49.5%;
  height: 450px;
  text-decoration: none;
  color: white;
  text-align: center;
  background: #16a085;
  border-radius: 8px;
  margin: 0;
}

#view-selection-screen a .icon {
  display: block;
  font-size: 280px;
}

#view-selection-screen a .button-label {
  display: block;
  font-size: 24px;
}

.row {
  width: 100%;
  height: 20%;
  display: flex;
  margin-bottom: 6px;
}

.card {
  text-align: center;
  vertical-align: middle;
  width: 20%;
  margin-right: 6px;
}

.card a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.person-0 {
  background: #e74c3c;
}

.person-1 {
  background: #3498db;
}

.person-2 {
  background: #f1c40f;
}

.person-3 {
  background: #8e44ad;
}
